<p id="notice"><%= notice %></p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Password digest:</b>
  <%= @user.password_digest %>
</p>

<p>
  <b>Sjtu:</b>
  <%= @user.sjtu_id %>
</p>

<p>
  <b>Class:</b>
  <%= @user.class_id %>
</p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Phone:</b>
  <%= @user.phone %>
</p>

<p>
  <b>Grade:</b>
  <%= @user.grade %>
</p>

<p>
  <b>Gender:</b>
  <%= @user.gender %>
</p>

<p>
  <b>Birthday:</b>
  <%= @user.birthday %>
</p>

<p>
  <b>Hometown:</b>
  <%= @user.hometown %>
</p>

<p>
  <b>Nationality:</b>
  <%= @user.nationality %>
</p>

<p>
  <b>Political status:</b>
  <%= @user.political_status %>
</p>

<p>
  <b>Identification number:</b>
  <%= @user.identification_number %>
</p>

<p>
  <b>Is teacher:</b>
  <%= @user.is_teacher %>
</p>

<p>
  <b>Is ta:</b>
  <%= @user.is_ta %>
</p>

<p>
  <b>Is student:</b>
  <%= @user.is_student %>
</p>

<p>
  <b>Is administrator:</b>
  <%= @user.is_administrator %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
